/* @override 
	http://mdl23:8888/theme/styles_debug.php?sheet=extra&theme=bootstrap&type=theme */

/* Custom CSS style sheet */

/* Do not add your CSS here, put it in the theme config form */

/* [[setting:customcss]] */

/* @group Color */

#breadcrumb-wrapper.navbar {
	background-color: #fdc813 !important;
}

.breadcrumb {
	color: #feebaa;
}

.breadcrumb a {
	color: #ffffff;
}

.block {
	border-top-color: #fec913;
}

/* @end */

/* @group General */

body {
	font: 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a, .logininfo a {
	color: #4977a7;
	text-decoration: underline;
}

a:hover, .logininfo a:hover {
	color: #374759;
}

p {
	line-height: 1.5;
}

#page-content > .span6 {
	margin-bottom: 40px;
}

.group {
  *zoom: 1;
}

.group:before,
.group:after {
  display: table;
  line-height: 0;
  content: "";
}

.group:after {
  clear: both;
}

/* Forcing fonts to Helvetica. May need to rethink this */

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
}

/* @end */

/* @group Custom Menu */

.navbar-inner, .navbar-fixed-top {
	 border: none !important; 
}

/* @end */

/* @group Header */

/* @group Identity */
#page-header {
	margin-top: 0;
}
.logo {
	float: left;
	margin-bottom: 10px;
	padding-right: 20px;
	width: 123px;
	height: 56px;
	display: block;
	background-image: url([[pix:theme|uofr_sm]]);
	background-repeat: no-repeat;
}

.headermain {
	font-size: 20px;
	margin: 0 0 3px;
}

#page-header-wrapper {
	padding-top: 20px;
}

.course-info {
	float: left;
	margin-top: -5px;
}

.course-info h5 {
	margin: 0;
}

.course-common {

}

div.teacherlist {
	clear: left;
}


@media ( max-width : 767px){
	
	.headermain {
		float: none;
	}
	
	#page-header-wrapper {
		padding-top: 10px;
	}
	
	#page-header .logininfo {
		float: none;
		margin: 15px auto 5px;
		display: table;
	}
	
	.logo {
		float: none;
		display: table;
		margin: 0 auto 20px;
		padding: 0;
	}
	
	.course-info {
		float: none;
		text-align: center;
	}
	
	.logininfo {
		margin-top: 10px;
	}
}
/* @end */

/* @group Log In Info */

.logininfo {
	font-size: 11px;
	background-color: #f3f4f3;
	padding: 5px 7px 8px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	margin-top: -8px;
}

.logininfo a {
	font-weight: bold;
}

/* @end */

/* @group Editing On */

.navbutton input[type="submit"], .homelink a {
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(246, 246, 246)), to(rgb(225, 225, 225)));
  background-image: -webkit-linear-gradient(top, rgb(246, 246, 246), rgb(225, 225, 225));
  background-image: -moz-linear-gradient(top, rgb(246, 246, 246), rgb(225, 225, 225));
  background-image: -o-linear-gradient(top, rgb(246, 246, 246), rgb(225, 225, 225));
  background-image: -ms-linear-gradient(top, rgb(246, 246, 246), rgb(225, 225, 225));
  background-image: linear-gradient(top, rgb(246, 246, 246), rgb(225, 225, 225));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f6f6f6', EndColorStr='#e1e1e1');
  
  color: #333333;
  text-shadow: 0 1px 1px #eaeaea;
  border: 1px solid #bababa;
}

.navbutton input[type="submit"]:hover, .homelink a:hover {
	background-color: #e1e1e1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(225, 225, 225)), to(rgb(203, 203, 203)));
	background-image: -webkit-linear-gradient(top, rgb(225, 225, 225), rgb(203, 203, 203));
	background-image: -moz-linear-gradient(top, rgb(225, 225, 225), rgb(203, 203, 203));
	background-image: -o-linear-gradient(top, rgb(225, 225, 225), rgb(203, 203, 203));
	background-image: -ms-linear-gradient(top, rgb(225, 225, 225), rgb(203, 203, 203));
	background-image: linear-gradient(top, rgb(225, 225, 225), rgb(203, 203, 203));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e1e1e1', EndColorStr='#cbcbcb');
	
	color: #000000;
	text-shadow: 0 1px 1px #eaeaea;
}

/* @end */

/* @group Breadcrumb */

#breadcrumb-wrapper {
	display: inline-block;
	margin-top: 10px;
	border: none;
}

#breadcrumb {
	background-color: transparent;
	font-weight: bold;
	color: #feebaa;
}

#breadcrumb a {
	color: #ffffff;
	text-shadow: none;
	font-size: 13px;
}

.breadcrumb span {
	text-shadow: none;	
}

#breadcrumb a:first-child {
	padding-left: 0;
}

#breadcrumb-wrapper .navbar-inner {
	background-color: transparent !important;
	background-image: none !important;
	border: none;
	box-shadow: none;
}

#breadcrumb li span {
	padding: 10px;
	display: inline-block;
}

span.separator {
	float: left;
	display: block;
	padding: 9px 0 !important;
}

@media (max-width:767px) {
	span.separator {
		display: none;
		visibility: hidden;
		width: 0;
	}
	
	#breadcrumb a:first-child {
		padding-left: 15px;
	}
	
	#breadcrumb a:hover, #breadcrumb a:active {
		background-color: #f2b505;
	}
}

#breadcrumb li a {
	padding-left: 15px;
	padding-right: 10px;
}
/* @end */

/* @end */

/* @group Home Page */
	.sitetopic {
		padding: 10px;
		border: 1px solid #e4e4e4 !important;
		border-radius:  3px;
	}
	
	.headingblock {
		
	}

/* @end */

/* @group Sidebar Blocks */

.block {
	background-color: #fdfdfd;
	padding-top: 0px;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	     -o-border-radius: 0;
	        border-radius: 0;
			border-top-width: 5px;
			border-top-style: solid;
		}

.block .header {
	font-size: 12px;
	background-color: #f3f3f3;
	padding-bottom: 3px;
	border-bottom: 1px solid #dcdcdc;
}

.block .header h2 {
	color: #555;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

.block .header .commands {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.block .content {
	font-size: 13px;
	/*background-color: #fdfdfd;*/
}

.block_tree {
	margin-top: 5px !important;
}

.block_tree .tree_item span {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.block_settings a {
	text-decoration: none;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/* @group Search Form */

.adminsearchform {
	text-align: center;
}

.adminsearchform input {
	margin-top: 10px;
}

.adminsearchform input[type="text"]{
	margin-left: 0;
	margin-top: 0;
}

.block .footer {
	margin-top: 12px;
	padding-top: 10px;
	border-top: 1px solid #e2e3e2;
}
/* @end */

/* @end */

/* @group Content */

.section {
	/*border-bottom: 1px solid #e9eae9 !important;*/
}

.course-content ul li.section.main {
	border-bottom: 1px solid #e9eae9;
	padding-bottom: 30px;
	margin-bottom: 15px;
}

.course-content h3.sectionname {
	font-weight: bold !important;
	border: none !important;
	margin-bottom: 15px;
}

/* @end */

/* @group Footer */

#page-footer {
	text-align: center;
	font-size: 13px;
	border-top: 0px;
	padding-top: 30px;
}

#page-footer .logininfo {
	float: none;
	background-color: transparent;
	font-size: 12px;
}

.homelink a {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}

#page-footer .homelink {
	margin-top: 20px;
}

/* @end */

/* @group Books */

.book_toc_none {
	font-size: 12px !important;
}

.book_content h1, 
.book_content h2, 
.book_content h3, 
.book_content h4, 
.book_content h5 {
	margin-bottom: 15px;
	margin-top: 15px;
}

/* @end */

/* @group Participants */

.initialbar strong {
	padding-right: 2px;
}

/* @end */

/* @group Bootstrap Tables */

/*

Maybe rethink this entirely. It might be that we don't need this here. But tables could use a little work at some point but there are so many different types/classes/ids that I don't really know where to start.

*/
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.generaltable {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.generaltable th,
.generaltable td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.generaltable th, 
.forumheaderlist th {
  font-weight: bold;
  background-color: #ededed;
}

.generaltable th {
  vertical-align: bottom;
}

.generaltable caption + thead tr:first-child th,
.generaltable caption + thead tr:first-child td,
.generaltable colgroup + thead tr:first-child th,
.generaltable colgroup + thead tr:first-child td,
.generaltable thead:first-child tr:first-child th,
.generaltable thead:first-child tr:first-child td {
  border-top: 0;
}

.generaltable tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.generaltable tbody tr:nth-child(odd) td, 
.forumheaderlist tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}

th.header {
	
}

/* @end */

.course-content .section-summary {
	border: none;
}

/* @group Forum */

.path-mod-forum .forumheaderlist td {
	border-width: 1px 0px 0px 1px;
	border-color: #e4e5e4 !important;
}

.path-mod-forum .forumheaderlist td:first-child {
	border-left: none;
}

.path-mod-forum .forumheaderlist {
	background-color: white;
}

.path-mod-forum .forumheaderlist, .forumpost {
	background-color: #f9f9f9;
}

.discussioncontrol.displaymode {
	margin-bottom: 10px;
}

/* @end */

/* @group Resources */


/* @end */

/* @group Feedback  */

.feedback_item_label_left {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}

.feedback_item_presentation_left {
	margin-bottom: 20px;
}

.feedback_item_textarea textarea {
	margin-left: 0;
}

.feedback_form input {
	margin-bottom: 10px;
}

/* @end */

/* @group Course Box */

div.coursebox {
	border-width: 6px 0 0 0;
	border-radius: 0;
	border-color: #dddddd;
	margin-bottom: 20px;
	background-color: #ffffff;
	border-right-width: 0;
	border-left-width: 0;
	border-top: 6px solid #fdc82f;
	padding: 5px;
	display: table;
}

.coursebox .info .name { 
	font-weight: bold;
	font-size: 1.15em;
}

.coursebox .summary { 
	margin: 7px 0 5px 10px; 
	font-size: 0.9em; 
}

.coursebox .info .teachers { 
	font-size: 0.9em; 
}

.coursebox .info {

}

div.coursebox.arts {
	border-top-color: #C9282D;
}

div.coursebox.business {
	border-top-color: #2A6EBB;
}

div.coursebox.khs {
	border-top-color: #BFB9A7;
}

div.coursebox.jsgspp {
	border-top-color: #8B9B3C;
}	

div.coursebox.education {
	border-top-color: #FF5A00;
}

div.coursebox.engineering {
	border-top-color: #5BB4E5;
}	

div.coursebox.finearts {
	border-top-color: #5CC151;
}

div.coursebox.fnuc {
	border-top-color: #157DC0;
}

div.coursebox.gbus {
	border-top-color: #89022D;
}

div.coursebox.socialwork {
	border-top-color: #00A0DF;
}

div.coursebox.luther {
	border-top-color: #597EBD;
}

div.coursebox.nursing {
	border-top-color: #FBCEB1
}

div.coursebox.scbscn {
	border-top-color: #6C9D41;
}

div.coursebox.science {
	border-top-color: #007836;
}	

div.coursebox.urguarantee {
	border-top-color: #fdc82f;
}

.unlist {
	border: 1px solid #dcdddc;
	background-color: #fdfdfd;
	padding-top: 10px;
}

.unlist li {
	padding-left: 10px;
	padding-right: 10px;
}

.headingblock.header {
	padding: 5px 10px;
	font-size: 1.15em;
	margin-bottom: 0 !important;
	background-color: #f4f4f4;
	border: 1px solid #dbdddb;
	border-bottom-style: none;
}
/* @end */

.block ul.unlist{
	border: none;
}

li.activity {
	margin-bottom: 10px !important;
}

/* @group Glossary */

/*Fix glossary styling*/

.glossarycategoryheader {
	width: 95%;
	border-radius: 0;
}

.glossarycategoryheader h2 {
	text-align: left;
	padding: 5px;
}

.glossarypost {
	margin-bottom: 10px !important;
	border-radius: 0;
	padding: 20px;
}

.glossarypost .concept h3 {
	font-weight: bold !important;
	margin-bottom: 10px !important;
}

/* @end */

/* @group Forum Posts */

/*Fix forum post colours*/
.forumpost {
	background-color: #fcfdfc;
}

.forumpost.unread {
	background-color: white;
}

.forumpost.unread .content {
	border: none !important;
}

.forumpost.unread .row.header {
	background-color: #ffd !important;
}

.forumpost .commands {
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-transition: none;
	opacity: 1;
}

.forumpost .subject {
	font-size: 1.1em;
	margin-bottom: 5px;
}

.forumpost .content {
	margin-top: 10px;
}

.forumpost .header {
	margin-left: 0;
	border-bottom: 1px solid #dbdcdb;
	background-color: #f2f2f2;
	padding: 5px 0;
}

table.mceLayout {
	width: 100% !important;
}
/* @end */

/* @group Hidden Colour - Grades */

/*Adjust hidden colour in grades*/

table#user-grades .hidden, table#user-grades .hidden a {
	color: #777;
}

/* @end */

/* @group Backgrounds on Weekly Layouts */

/*Additions for backgrounds on weekly layouts*/

.path-course-view .weeks .content ,
.path-course-view .topics .content,
.path-course-view .weeks .section,
.path-course-view .topics .section,
.course-content ul.weeks li.section .content { 
	background-color: white;
}

.path-course-view .weeks .current, .path-course-view .topics .current, .path-course-view .current td.side {
	background: #fffcab !important;
}

/* @end */

/* @group Bug Fixes */

/*Section titles without editing on because, here's the thing, the class changes when editing is turned on. Why? Who knows!*/

.content h3.sectionname, 
.content h3.section-title {
	font-weight: bold !important;
	border-bottom: none !important;
	font-size: 1.45em;
	margin-bottom: 15px !important;
	margin-top:  10px !important;
	color: black !important;
	padding-bottom: 5px !important;
}

/* @end */

/* @group Grade Highlighting */

/*Highlighting in Grades for horizontal and vertical selections */

.hmarked {
	background-color: #ffd !important;
}

.grade_type_text.vmarked {
	background-color: #fffcab !important;
}

.paging {
	margin-top: 10px;
	font-weight: bold;
}

.submissionstatus, .submissionstatussubmitted {
	padding: 5px;
	border-radius: 3px;
}

.ygtvcell {
	background-color: transparent !important;
	padding: 3px !important;
}
/*Check this in other areas*/

#permissions td.header {
	padding-top: 30px;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 1px;
}

.backlink {
	margin-top: 30px !important;
}

#permissions {
	margin-top: 30px;
}

.capabilitysearchui {
	margin-top: 10px;
}

#chooseusersubmit {
	margin-top: 10px;
}

.select {
	margin-top: 5px;
	margin-bottom: 5px;
}

#user-grades {
	font-size: .95em !important;
}

/* @end */

/* @group Message Overlay */

/*Message overlay*/

#newmessageoverlay {
	background-color: #ffd;
	border-top: 1px solid #e9e880;
	padding: 20px;
	position: fixed;
	bottom: 0;
	right: 0;
	left:  0;
	text-align: center;
	margin: 0 auto;
	color: #4f4f43;
}

/* @end */

/*Quiz editing colours. So much here. So, so much.*/

/* @group Sideblock */

/*Just the sideblock. For real.*/

.questionbankwindow.block {
	border: 1px solid #dcdddc !important;
}

.questionbankwindow.block .header {
	background-color: #f3f4f3 !important;
	margin: 0 !important;
	border-bottom: 1px solid #dcdddc !important;
}

.questionbankwindow.block .header h2 {
	color: #323332 !important;
}

.questionbankwindow.block .header a {
	color: #516a84 !important;
}

.questionbankwindow.block .header a:hover {
	background-color: transparent !important;
} 

.questionbankwindow.block .categoryinfo {
	background-color: #fbfcfb !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	border-bottom: 1px solid #e4e5e4 !important;
}

#categoryquestions {
	width: 100% !important;
}

#categoryquestions label {
	font-size: 1em !important;
}

#categoryquestions .radio input[type="radio"], #categoryquestions .checkbox input[type="checkbox"] {
	float: left;
	margin-left: 0px;
	top: 4px;
	position: relative;
}
.questionbankwindow.block .categorynamefieldcontainer, .questionbankwindow.block #catmenu  {
	margin-bottom: 10px !important;
}

.createnewquestion, 
.choosecategory, 
.modulespecificbuttonscontainer, 
#displayoptions, 
.questioncontainer .quizsavegradesform {
	background-color: #fbfcfb !important;
}

.questionbankwindow.block #catmenu label, .questionbankwindow.block .modulespecificbuttonscontainer strong , .questionbankwindow.block #catmenu label, .questionbankwindow.block .modulespecificbuttonscontainer label{
	margin-bottom: 5px !important;
	margin-top: 5px !important;
	display: inline-block !important;
	font-weight: bold !important;
}

.questionbankwindow.block .createnewquestion {
	padding-bottom: 15px !important;
}

.categorypagingbarcontainer {
	padding: 0 !important;
}

.categorypagingbarcontainer .paging {
	padding-top: 5px !important;
	padding-bottom: 5px;
	background-color: white !important;
	border-top: 1px solid #dbdddb !important;
	border-bottom: 1px solid #dbdddb !important;
}

.questionbankwindow.block .categoryquestionscontainer {
	padding: 0 !important;
	margin-bottom: 0 !important;
}

.questionbankwindow.block #categoryquestions thead th {
	background-color: #f2f4f2 !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	margin-bottom: 0px !important;
}

.questionbankwindow.block #categoryquestions tbody td {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}

.questionbankwindow.block #categoryquestions tbody tr.r1 {
	background-color: #f2f4f2 !important;
}

.categorypagingbarcontainer.pagingbottom .paging {
	border-bottom: none !important;
}

.categorypagingbarcontainer.pagingbottom {
	border-bottom: 1px solid #dbdddb !important;
}

.questionbankwindow.block .modulespecificbuttonscontainer {
	padding-top: 5px !important;
	padding-bottom: 10px !important;
}

.questionbankwindow.block .modulespecificbuttonscontainer #menucategory {
	margin: 15px 0 !important;
}

.questionbankwindow.block .modulespecificbuttonscontainer hr {
	border-top: 1px solid #d8dbd8 !important;
	margin: 0 !important;
}

#recurse_on, #showhidden_on {
	margin-right: 10px !important;
	margin-left: 5px !important;
}

#displayoptions {
	padding-bottom: 10px;
}

.iconcol.editaction, .iconcol.previewaction {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.points form label, .points form a{
	font-size: .9em !important;
}


/* @end */

/* @group Beginning of main question block */

/*
#quizcontentsblock .statusbar {
	margin-top: 10px;
	margin-bottom: 10px;
}

#quizcontentsblock .statusdisplay {
	margin-top: 10px;
	margin-bottom: 10px;
}

#quizcontentsblock .pagecontent {
	background-color: #fcfcfc !important;
	border-radius: 0px !important;
	border: 1px solid #dcdddc !important;
}

#quizcontentsblock .quizpage span.pagetitle {
	font-weight: bold !important;
	color: #333 !important;
}

#quizcontentsblock .pagecontent .content {
	background-color: transparent !important;
}

#quizcontentsblock .pagecontent .questioncontainer {
	margin-top: 0px;
}

.quizpage .pagecontent {
		margin-bottom: 20px !important;
}

.questioncontentcontainer li {
	margin-bottom: 10px;
}

.randomquestionqlist {
	background: transparent !important;
}

.questioncontentcontainer ul {
	background-color: white;
	border: 1px solid #dcdddc !important;
	padding: 0 !important;
}

.questionname .smallicon {
	position: relative;
	top: 4px;
	margin-right: 3px;
	margin-left: 3px;
}

.points {
	background-color: #daddda !important;
	border-left: none !important;
	padding: 1px !important;
}

.quizsavegradesform div {
	background-color: #f3f4f3;
	padding: 1px !important;
}
*/
/* @end */

/* @group Books - Sidebar */

.book_toc_numbered {
	font-size: 1em !important;	
}

.book_toc_numbered a {
	text-decoration: none;
}

.book_toc_numbered ul {
	margin: 5px 0;
}

.book_toc_numbered li > ul {
	margin: 5px 0 5px 10px !important;
}

.book_toc_numbered li > ul > li {
	margin-bottom: 5px;
}

.path-mod-book .book_toc_none,
.path-mod-book .book_toc_numbered,
.path-mod-book .book_toc_bullets,
.path-mod-book .book_toc_indented {
  font-size: 0.9em;
}

/* @end */

/* @group Bookshelf */

.book_toc_numbered ul, .book_toc_none ul {
	margin-left: 18px;
}

.bookshelf_book {
	margin-bottom: 5px;
}
/* @end */

.contentafterlink {
	margin-top: 5px;
}

.toggle h3.sectionname {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 5px !important;
}

.commands {
	opacity: 0.3;
	-webkit-transition: opacity 0.5s ease-in-out 0s; 
}

.commands:hover {
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out 0s;
}

/* @group Quiz */
.que .formulation {
	background-color: #fdfdfd !important;
}

.que .info {
	background-color: #fdfdfd !important;
}

.que h2.no {
	margin-left: -6px;
	margin-right: -6px;
	margin-top: -6px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #dbdcdb;
}

.que .editquestion {
	margin: 10px 0 5px !important;
}

.que .questionflagtext {
	display: block;
}

/* @end */

/* @group Mail */

#mod_mail_navbar li img {
	position: relative;
	top: -4px;
}

#mod_mail_navbar li a {
	
}

/* @end */

/* @group Callouts */

/* @group Text */

.book_content blockquote { 
	border-left: 1px solid #e0e0e0; 
	background-color: #fafafa; 
	padding: 10px 20px 5px; 
	margin: 0 20px 10px;
}

.book_content blockquote p { 
	margin-bottom: 5px;
}

cite {
	font-style: italic;
}

/* @group Definition List */

.book_content dl { 
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; 
	margin-bottom: 10px;
}

.book_content dt { 
	font-weight: bold; 
	color: black; 
	margin-top: 5px;
}

.book_content dd { 
	padding-left: 10px;
}

figure figcaption {
	text-align: center;
}

/* @end */

/* @end */

/* @group Table */

.book_content caption { 
	text-align: left; 
	font-weight: bold; 
	font-size: 105%; 
	color: black;
}

.book_content td { 
	padding-top: 5px; 
	padding-bottom: 5px;
}

.book_content table { 
	width: 100%; 
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; 
	margin: 10px 0;
}

.book_content th { 
	background-color: #fff; 
	color: #000; 
	padding-top: 5px; 
	padding-bottom: 5px;
	text-align: left;
}

.book_content tr { 
	font-size: 90%; 
	text-indent: .5em; 
	color: #363636;
}

.book_content tr:nth-child(2n+1) { 
	background-color: #f1f6fb;
}

.book_content tr:nth-child(2n) { 
	
}

/* @end */

/* @group Lists */

.book_content ol { 
	list-style-type: decimal; 
	/*padding-left: 20px;*/
}

.book_content li { 
	margin-bottom: 10px;
}

.book_content ul { 
	list-style-type: disc; 
	/*padding-left: 20px;*/
}

/* @end */

/* @group Callout Blocks */

.callout h3, div[class*="_block_callout"] h3 { 
	margin: 0 0 5px; 
	font-weight: bold;
}

.callout, div[class*="_block_callout"] {
	-webkit-border-radius: 10px;
	background-position: 15px 15px !important; 
	padding: 10px 10px 10px 85px; 
	font-family: Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif; 
	color: black;
	border: 1px solid #e6e6e6;
	margin: 10px 0;
}

.question_block, div[class*="question_block"] { 
	background: url([[pix:theme|icons/48/30]]) no-repeat;
}

.important_block, div[class*="important_block"] { 
	background: url([[pix:theme|icons/48/10]]) no-repeat;
}

.links_block, div[class*="links_block"] { 
	background: url([[pix:theme|icons/48/156]]) no-repeat;
}

.reading_block, div[class*="reading_block"] { 
	background: url([[pix:theme|icons/48/158]]) no-repeat;
}

.audio_block, div[class*="audio_block"] { 
	background: url([[pix:theme|icons/48/58]]) no-repeat;
}

.ideas_block, div[class*="ideas_block"] { 
	background: url([[pix:theme|icons/48/11]]) no-repeat;
}

.notes_block, div[class*="notes_block"] { 
	background: url([[pix:theme|icons/48/145]]) no-repeat;
}

.quiz_block, div[class*="quiz_block"] { 
	background: url([[pix:theme|icons/48/155]]) no-repeat;
}

.task_block, div[class*="task_block"] { 
	background: url([[pix:theme|icons/48/141]]) no-repeat;
}

.blog_block, div[class*="blog_block"] { 
	background: url([[pix:theme|icons/48/157]]) no-repeat;
}

.assignment_block, div[class*="assign_block"], div[class*="assignment_block"] { 
	background: url([[pix:theme|icons/48/153]]) no-repeat;
}

.discussion_block, div[class*="discussion_block"] { 
	background: url([[pix:theme|icons/48/73]]) no-repeat;
}

.video_block, div[class*="video_block"] { 
	background: url([[pix:theme|icons/48/51]]) no-repeat;
}

.elder_block, div[class*="elder_block"] { 
	background: url([[pix:theme|icons/48/144]]) no-repeat;
}

/* Begin Additions */

.fact_block, div[class*="fact_block"] { 
	background: url([[pix:theme|icons/48/159]]) no-repeat;
}

.labs_block, div[class*="labs_block"] { 
	background: url([[pix:theme|icons/48/148]]) no-repeat;
}

.reflect_block, div[class*="reflect_block"] { 
	background: url([[pix:theme|icons/48/160]]) no-repeat;
}

.fyi_block, div[class*="fyi_block"] { 
	background: url([[pix:theme|icons/48/161]]) no-repeat;
}

.aims_block, div[class*="aims_block"] { 
	background: url([[pix:theme|icons/48/147]]) no-repeat;
}

.start_block, div[class*="start_block"] { 
	background: url([[pix:theme|icons/48/166]]) no-repeat;
}

.resources_block, div[class*="resources_block"] { 
	background: url([[pix:theme|icons/48/105]]) no-repeat;
}

.example_block, div[class*="example_block"] {
	background: url([[pix:theme|icons/48/162]]) no-repeat;
}

.activity_block, div[class*="activity_block"] {
	background: url([[pix:theme|icons/48/163]]) no-repeat;
}

.feedback_block, div[class*="feedback_block"] {
	background: url([[pix:theme|icons/48/164]]) no-repeat;
}

.objectives_block, div[class*="objectives_block"] {
	background: url([[pix:theme|icons/48/165]]) no-repeat;
}

.chat_block, div[class*="chat_block"] {
	background: url([[pix:theme|icons/48/154]]) no-repeat;
}

.forum_block, div[class*="forum_block"] {
	background: url([[pix:theme|icons/48/167]]) no-repeat;
}

.wiki_block, div[class*="wiki_block"] {
	background: url([[pix:theme|icons/48/168]]) no-repeat;
}


/* End Additions */

/* @end */

/* @group Images */

.book_content img {
	margin: 0 auto 10px;
	display: block; 
	padding: 10px; 
	background-color: white; 
	border: 1px solid #e6e6e6;
}

p.caption { 
	margin-left: auto; 
	margin-right: auto;
	max-width: 45em; 
	display: block; 
	text-align: center; 
	font: bold 85%/1.2 Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif; 
	margin-bottom: 10px;
}

.image.right {
	float: right;
	width: auto;
	margin-left: 10px;
}

.image.left {
	float: left;
	width: auto;
	margin-right: 10px
}

.image.center {
	float: none;
	width: auto;
	margin: 0 auto;
}

.image tr {
	background-color: transparent;
}

/* @end */

/* @end */
